{{!

    Renders:
      Post Meta Share List and Counts
      Post Meta Shares Total Count

}}

<div class="icon-ui icon-ui-share meta-link meta-share" data-js="share" data-js-url="{{url absolute="true"}}">

  <div class="popup popup--right" data-js="share-list" data-ani="hide">

    {{!-- Facebook --}}
    <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" class="icon icon-facebook popup-link" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
      <span data-js="share-facebook-count">0</span><span data-js="share-facebook-plural"> Shares</span>
    </a>

    {{!-- Google Plus --}}
    {{!--<a href="https://plus.google.com/share?url={{url absolute="true"}}" class="icon icon-googleplus popup-link" onclick="window.open(this.href, 'google-plus-share', 'width=475,height=435');return false;">
      <span data-js="share-googleplus-count">0</span><span data-js="share-googleplus-plural"> Shares</span>
    </a>--}}
    
    {{!-- LinkedIn --}}
    {{!--<a href="http://www.linkedin.com/shareArticle?mini=true&amp;url={{url absolute="true"}}&amp;title={{encode title}}" class="icon icon-linkedin popup-link" onclick="window.open(this.href, 'linkedin-share', 'width=550,height=550');return false;">
      <span data-js="share-linkedin-count">0</span><span data-js="share-linkedin-plural"> Shares</span>
    </a>--}}
    
    {{!-- Pinterest --}}
    <a href="http://pinterest.com/pin/create/button/?url={{url absolute="true"}}&amp;description={{encode title}}{{#if image}}{{^has tag="_embed"}}&amp;media={{@blog.url}}{{image}}{{/has}}{{/if}}" class="icon icon-pinterest popup-link" onclick="window.open(this.href, 'pinterest-share', 'width=770,height=330');return false;">
      <span data-js="share-pinterest-count">0</span><span data-js="share-pinterest-plural"> Pins</span>
    </a>
    
    {{!-- Stumbleupon --}}
    {{!--<a href="http://www.stumbleupon.com/submit?title={{encode title}}&amp;url={{url absolute="true"}}" class="icon icon-stumbleupon popup-link" onclick="window.open(this.href, 'stumbleupon-share', 'width=550,height=235');return false;">
      <span data-js="shares-stumbleupon-count">0</span><span data-js="share-stumbleupon-plural"> Shares</span>
    </a>--}}
    
    {{!-- Twitter --}}
    <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}" class="icon icon-twitter popup-link" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" data-js="share-twitter">
      <span data-js="share-twitter-count">0</span><span data-js="share-twitter-plural"> Tweets</span>
    </a>

  </div>

  <span class="meta-count" data-js="share-total-count">0</span><span class="meta-plural" data-js="share-total-plural"> Shares</span>

</div>
